body {
  margin: 0;
  background: url(images/wooden-floor-black.jpg);
}

.box {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: -2rem;
  left: -2rem;
}

.box__ball {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  z-index: 1000;
  -webkit-box-shadow: 6px 8px 6px -6px black;
   -moz-box-shadow: 6px 8px 6px -6px black;
        box-shadow: 6px 8px 6px -6px black;
}

.box__hole {
  position: absolute;
  background-color: black;
  border-radius: 30%;
  width: 4.5rem;
  height: 4.5rem;
  top: 80%;
  left: 80%;
}

#success {
  display: none;
  padding-top: 30%;
  text-align: center;
  font-family: 'poiret one', 'open sans';
  font-weight: bold;
}

/*#load {
opacity: 0;
 transition: opacity 0.4s ease-in, display 0.4s step-end;
 -ms-transition: opacity 0.4s ease-in, display 0.4s step-end;
 -moz-transition: opacity 0.4s ease-in, display 0.4s step-end;
 -webkit-transition: opacity 0.4s ease-in, display 0.4s step-end;
}

#load .show {
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  background-color: black;
  opacity: 1;
  transition: opacity 0.4s ease-out, display 0.4s step-start;
  -ms-transition: opacity 0.4s ease-out, display 0.4s step-start;
  -moz-transition: opacity 0.4s ease-out, display 0.4s step-start;
  -webkit-transition: opacity 0.4s ease-out, display 0.4s step-start;
}*/
